.game-stats {
  font-size: 0.875rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.625rem;
  @media (min-width: 601px) {
    font-size: 1rem;
  }

  @media (min-width: 1025px) {
    font-size: 1.125rem;
  }
}
