$brad-color: #4caf50;
$text-color: #fff;
$hover-btn-color: #45a049;
$active-btn-color: #3e8e41;
$border-btn-color: #2c6a2f;
//card variables
$bg-card-color: #ccc;
$border-card-color: #333;
$matched-color: #90ee90;
$back-card-color: #ddd;
//gameboard variables
$gameboard-color: #f4f4f4;
