@use "../Variables/Variables.scss" as *;

.reset-button,
.level {
  margin: 0.31rem;
  padding: 0.62rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: $brad-color;
  color: $text-color;
  border: none;
  border-radius: 0, 31rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-btn-color;
  }

  &.active {
    background-color: $active-btn-color;
    border: 2px solid $border-btn-color;
  }
}
